.wrap {
  position: relative;
  width: fit-content;
  margin: 0 auto;
  width: 90%;
  @media (min-width: 760px) {
    width: 80%;
  }
  @media (min-width: 1200px) {
    width: 600px;
  }
}

.input {
  background: #ffffff;
  box-shadow: 7px 4px 14px rgba(49, 21, 4, 0.07);
  border-radius: 20px;
  border: 1px solid transparent;
  padding: 9px 12px;
  transition: 0.2s all ease-in-out;
  width: 100%;

  &:focus,
  &:hover {
    border: 1px solid rgba(245, 146, 86, 0.5);
    outline: none;
  }
}

.btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  outline: none;
  background-color: transparent;
  width: 24px;
  height: 24px;
  background: url('../../../shared/images/overused/search.png') no-repeat 50%;
  background-size: 17px;
  border: none;
  border-radius: 50%;
  transition: 0.2s all ease-in-out;

  //   &:hover {
  //   }
}
