@import 'shared/styles/variables';
@import 'shared/styles/mixins';

.card__imgThumb {
	width: 240px;
	height: 240px;
	border-radius: 20px;
	overflow: hidden;
	margin-bottom: 20px;
	object-fit: cover;

	@include media('tablet') {
		width: 160px;
		height: 160px;
		margin-bottom: auto;
	}
}
