@import 'src/shared/styles/mixins.scss';

.wrapper {
	width: 280px;
	height: 626px;
	padding-bottom: 12px;

	background: $secondary-bg-color;
	box-shadow: 7px 4px 14px rgba(49, 21, 4, 0.07);
	border-radius: 0px 0px 40px 40px;

	@include media(tablet) {
		width: 336px;
		height: 638px;
	}

	@include media(desktop) {
		width: 288px;
	}
}

.heading {
	width: 250px;
  max-height: 76px;
	margin-bottom: 16px;
	

	&__title {
		font-weight: 700;
		font-size: 28px;
		line-height: 38px;
		letter-spacing: -0.01em;

		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}

.boxWrap {
	height: 286px;
	width: 280px;
	margin: 0px auto;
	padding: 0px 16px;
}

.list {
	@include flex(center, flex-start);
	flex-direction: column;
	gap: 8px;
	width: 100%;
	margin-bottom: 6px;
	&__item {
		display: flex;
		margin-bottom: 8px;
	}

	&__paragraph {
		width: 90px;
		font-weight: 500;
		font-size: 16px;
		line-height: 22px;
	}

	&__span {
		font-weight: 500;
		font-size: 16px;
		line-height: 22px;
	}
}

.pctWrap {
	position: relative;
	height: 288px;
	margin-bottom: 20px;

	&__pictures {
		display: block;
		height: 100%;
		width: 100%;
		object-fit: fill;
	}
}

.likeWrap {
	position: absolute;
	top: 12px;
	right: 12px;
	@include flex(center, center);

	width: 44px;
	height: 44px;

	border: none;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.6);
	backdrop-filter: blur(2px);

	&__button {
		@include flex(center, center);
		background: none;
		border: none;
		cursor: pointer;
	}

	&__svg {
		stroke: 2px $accent-color;
	}
}

.categor {
	@include flex(center, center);

	position: absolute;
	left: 0;
	top: 20px;
	width: 158px;
	height: 28px;

	border: none;
	border-radius: 0px 100px 100px 0px;
	background: rgba(255, 255, 255, 0.6);
	backdrop-filter: blur(2px);

	&__paragraph {
		font-family: 'Inter';
		font-weight: 500;
		font-size: 12px;
		line-height: 15px;
		letter-spacing: 0.04em;
	}
}

.btnContainer {
	width: 248px;
	height: 100px;
	@include flex(center, center);
	gap: 10px;
}

.deleteOwnNotice {
	@include flex(center, center);
	gap: 8px;

	width: 100%;
	padding: 8px 28px;
	color: $hover-color;
	background-color: $secondary-bg-color;

	outline: none;
	border-radius: 40px;
	border: 2px solid $hover-color;
	transition: $transition;
	cursor: pointer;

	@include media(tablet) {
		padding: 8px 28px;
	}

	&__trash {
		height: 44px;
		@include flex(center, center);
		width: 20px;
		height: 20px;
	}
}
