@import 'shared/styles/variables';
@import 'shared/styles/mixins';

.label {
	width: 240px;
	@include flex(flex-start, flex-start);
	flex-direction: column;
	gap: 8px;

	&__text {
		font-weight: 500;
		font-size: 18px;
		line-height: 1.4;
		color: $primary-text-color;
		@include media('tablet') {
			font-size: 24px;
			line-height: 1.1;
		}
	}

	@include media('tablet') {
		width: 448px;
	}
}
.input {
	width: 240px;
	height: 40px;

	padding: 10px 15px;

	font-weight: 400;
	font-size: 14px;
	line-height: 19px;

	border: 1px solid $accent-color;
	color: $primary-text-color;
	background-color: $primary-bg-color;
	border-radius: 40px;
	outline-color: $accent-color;

	@include media(tablet) {
		width: 448px;
		height: 50px;
		font-size: 16px;
		line-height: 17px;
	}
}
