@import 'src/shared/styles/mixins.scss';
@import 'src/shared/styles/variables.scss';

@include media(mobile) {}
@include media(tablet) {}
@include media(desktop) {}




.btn {
    // display: flex;
    @include flex();
    @include media(desktop) {gap: 20px;
        height: 47px;}
    
}
.linkLogo {
    @include media(mobile) {}
    
        @include media(tablet) {}
    
        @include media(desktop) {}
    color: $secondary-text-color;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
}
.login {
    @include media(mobile) {}
    
        @include media(tablet) {}
    
        @include media(desktop) {}
    @include flex(center, center);

    width: 111px;
    background: $accent-color;
    border-radius: 40px;
}

.linkRegistration{
    @include media(mobile) {}
    
        @include media(tablet) {}
    
        @include media(desktop) {}
    color: $primary-text-color;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
}

.registration {
    @include media(mobile) {}
    
        @include media(tablet) {}
    
        @include media(desktop) {}
    @include flex(center, center);
    width: 181px;

    background: $secondary-bg-color;
    border-radius: 40px;
    border: 2px solid $accent-color;
}