@import 'src/shared/styles/mixins.scss';
@import 'src/shared/styles/variables.scss';

@include media(mobile) {
}
@include media(tablet) {
}
@include media(desktop) {
}

.btn {
	@include flex();
	height: 35px;
	gap: 12px;
	margin-top: 46px;

	@include media(tablet) {
		margin-top: 0;
		height: 100%;
	}
	@include media(desktop) {
		gap: 20px;
		height: 47px;
	}
}

.linkLogo {
	@include flex(center, center);
	width: 100%;
	height: 100%;
	color: $secondary-text-color;
	text-decoration: none;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.35;

	@include media(tablet) {
		font-size: 20px;
	}

	@include media(desktop) {
		color: $secondary-text-color;
		text-decoration: none;
	}
}

.login {
	@include flex(center, center);
	width: 95px;
	background: $accent-color;
	border-radius: 40px;

	@include media(tablet) {
		width: 111px;
		height: 47px;
	}

	@include media(desktop) {
		width: 111px;
		background: $accent-color;
		border-radius: 40px;
		height: 48px;
	}
}

.linkRegistration {
	@include flex(center, center);
	width: 100%;
	height: 100%;
	color: $primary-text-color;
	text-decoration: none;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.35;

	@include media(tablet) {
		font-size: 20px;
	}

	@include media(desktop) {
		color: $primary-text-color;
		text-decoration: none;
	}
}

.registration {
	@include flex(center, center);
	width: 144px;

	background: $secondary-bg-color;
	border-radius: 40px;
	border: 2px solid $accent-color;
	@include media(tablet) {
		width: 181px;
		height: 47px;
	}

	@include media(desktop) {
		background: $secondary-bg-color;
		border-radius: 40px;
		border: 2px solid $accent-color;
		height: 48px;
	}
}
