@import "src/shared/styles/mixins.scss";

.wrapper{
  margin-top: 42px;

  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 33px;
  /* identical to box height */

  text-align: center;

  /* Черный */

  color: #111111;
}