@import 'shared/styles/_mixins.scss';

.title {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.37;
    text-align: center;
    color: #111111;

    @include media(tablet) {
        font-size: 36px;
        line-height: 1.35;
            font-weight: 500;
    }
}