@import 'shared/styles/_mixins.scss';

.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: #111111;

  @include media(mobile) {
    font-size: 24px;
    line-height: 1.35;
  }
  @include media(tablet) {
    font-size: 48px;
    line-height: 1.35;
  }
}
