@import 'shared/styles/_mixins.scss';
@import '../../../shared/styles/variables';

.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.37;
  text-align: center;
  color: $primary-text-color;

  @include media(tablet) {
    font-size: 48px;
    line-height: 1.35;
  }
}
