@import 'shared/styles/variables';
@import 'shared/styles/mixins';

.iconThumb {
	position: absolute;
	top: 65%;
	right: 0;
	transform: translate(-100%, -50%);
	cursor: pointer;
	@include flex(center, center);
	width: 20px;
	height: 20px;
	padding: 0px;
	color: rgba(17, 17, 17, 0.6);

	background-color: transparent;
	border: none;

	@include media('tablet') {
		width: 44px;
		height: 44px;
		top: 0;
		right: 0;
		transform: translate(-50%, 50%);
		border-radius: 50%;
		background-color: $primary-bg-color;
		backdrop-filter: blur(2px);
	}

	&:hover,
	&:focus {
		filter: drop-shadow(0 0 10px $hover-color);
		color: $hover-color;
	}
}
