@import 'shared/styles/variables';
@import 'shared/styles/mixins';

.wrapper {
	@include flex(center, center);
	flex-direction: column;
	gap: 12px;
	width: 240px;

	@include media('tablet') {
		flex-direction: row;
		flex-wrap: nowrap;
		gap: 20px;
		width: 380px;
	}

	@include media('desktop') {
		gap: 24px;
		width: 384px;
	}
}

.submitBtn {
	width: 100%;
	outline: none;
	padding: 8px 28px;
	border-radius: 40px;
	cursor: pointer;
	border: 2px solid $accent-color;
	transition: $transition;

	background-color: $secondary-bg-color;
	color: $fifth-text-color;
	&:hover {
		border-color: $hover-color;
	}
	@include media(tablet) {
		padding: 10px 28px;
	}
}
