@import 'shared/styles/variables';
@import 'shared/styles/mixins';



.petUploadLabel {
	width: 233px;
	@include flex(center, flex-start);
	flex-direction: column;
	gap: 20px;

	&__text {
		font-weight: 500;
		font-size: 15px;
		line-height: 1.4;
		color: $primary-text-color;

		@include media('tablet') {
			font-size: 24px;
			line-height: 1.1;
		}
	}

	@include media('tablet') {
		width: 448px;
		@include flex(center, center);
	}
}

.crossWrapper {
	@include flex(center, center);

	width: 208px;
	height: 208px;
	border-radius: 20px;
	background-color: $primary-bg-color;
		cursor: pointer;

	overflow: hidden;
}


.uploadThumb {
	position: relative;
	z-index: 10;
}

.uploadInput {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	position: absolute;
	z-index: -10;
}

.image {
	width: 100%;
}