@import '../../../shared/styles/mixins';
@import '../../../shared/styles/variables';

.nav {
	margin: 0 auto;
	width: 280px;
	display: flex;
	flex-wrap: wrap;
	gap: 12px;

	@include media(tablet) {
		width: 70%;
		margin-left: 5%;
	}

	&__item {
		display: flex;
		flex-wrap: wrap;
		gap: 12px;
	}

	&__link {
		width: 100%;
		outline: none;
		padding: 8px 28px;
		border-radius: 40px;
		cursor: pointer;
		border: 2px solid $accent-color;
		transition: $transition;
		background-color: $secondary-bg-color;
		

		font-weight: 500;
		font-size: 14px;
		line-height: 19px;
		letter-spacing: 0.04em;
		text-decoration: none;




		&:hover {
			background-color: $accent-color;
			border-color: $hover-color;
		}

		@include media(tablet) {
			padding: 10px 28px;

			font-size: 20px;
			line-height: 27px;
		}
	}
}
