@import 'shared/styles/variables.scss';

.btn{
    position: absolute;
    top:50%;
    right: 10px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    background-color: inherit;

}
.btn svg{
    transition: 0.2s all ease-in-out;
    fill: $third-bg-color;
}

.btn:hover svg{
    fill: $accent-color;
}