@import 'shared/styles/mixins.scss';
@import 'shared/styles/variables.scss';

.section{
    padding: 40px 0;
}
.container{
    width: 100%;
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;


    @include media("tablet") {
            background-color: $accent-color;

        }

}

