@import 'shared/styles/mixins.scss';
@import 'shared/styles/variables.scss';

.section {
	padding: 40px 0;
	height: calc(100vh - 58px);
	position: relative;

	background-image: url(../../shared/images/auth/mobile1x.png);
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: contain;
	@media (min-device-pixel-ratio: 2),
		(-webkit-min-device-pixel-ratio: 2),
		(min-resolution: 192dpi),
		(min-resolution: 2dppx) {
		background-image: url(../../shared/images/auth/mobile2x.png);
	}
	@include media(tablet) {
		height: calc(100vh - 68px);
		background-image: url(../../shared/images/auth/tablet1x.png);
		@media (min-device-pixel-ratio: 2),
			(-webkit-min-device-pixel-ratio: 2),
			(min-resolution: 192dpi),
			(min-resolution: 2dppx) {
			background-image: url(../../shared/images/auth/tablet2x.png);
		}
	}
	@include media(desktop) {
		background-image: url(../../shared/images/auth/desktop1x.png);

		@media (min-device-pixel-ratio: 2),
			(-webkit-min-device-pixel-ratio: 2),
			(min-resolution: 192dpi),
			(min-resolution: 2dppx) {
			background-image: url(../../shared/images/auth/desktop2x.png);
		}
	}
}
.landscape {
	@extend .section;
	height: auto;
	background-size: cover;
	background-position-y: 150px;
	@include media(tablet) {
		height: 600px;
	}
}

.container {
	width: 100%;
	max-width: 280px;
	margin-left: auto;
	margin-right: auto;

	text-align: center;

	@include media('tablet') {
		max-width: 708px;
	}
}
.wrapper {
	text-align: center;
	@include media(tablet) {
		position: absolute;
		top: 300px;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 608px;
		margin: 0 auto;
		padding: 60px 80px 40px;

		border-radius: 40px;
		background-color: $secondary-text-color;
		box-shadow: 7px 4px 14px rgba(0, 0, 0, 0.11);
	}
	@include media(desktop) {
		width: 618px;
		margin: 0 auto;
		padding: 60px 80px;

		border-radius: 40px;
		background-color: $secondary-text-color;
	}
}

.form {
	width: 280px;
	padding: 40px 0;

	@include media('tablet') {
		width: 460px;
	}
}

.linkText {
	margin-right: 5px;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 1.35;
	letter-spacing: 0.04em;
	color: $third-bg-color;
}
.link {
	@extend .linkText;
	color: #3091eb;
		&:hover {
				color: $hover-color;
			}
}

.btn {
	width: 100%;
	outline: none;
	padding: 8px 28px;
	border-radius: 40px;
	cursor: pointer;
	border: 2px solid #f59256;
	background-color: #f59256;
	color: white;
	transition: 0.2s all ease-in-out;

	@media (min-width: 760px) {
		padding: 10px 28px;
	}

	&:hover,
	&:focus {
		background-color: $hover-color;
		border-color: $hover-color;
		
	}
}
.lightBtn {
	@extend .btn;
	margin-top: 16px;
	background-color: transparent;
	color: inherit;
}
