@import 'shared/styles/_mixins.scss';

.section {
  margin-bottom: 100px;

  @include media(desktop) {
    margin-bottom: 200px;
  }
}

.wrapper {
  padding-top: 28px;
  padding-bottom: 30px;
  margin: 0 auto;

  @include media(tablet) {
    @include flex(space-between, baseline);
    padding-top: 40px;
    padding-bottom: 60px;
  }
}