@import 'src/shared/styles/mixins.scss';

.wrapper {
  @include flex(center, center);
  flex-direction: column;

  @include media(tablet) {
    flex-direction: row;
    gap: 32px;
  }

  @include media(desktop) {
    flex-direction: row;
    gap: 16px;
  }
}
