@import 'src/shared/styles/mixins.scss';


.wrapper {
	@include flex(center, center);
	flex-direction: column;
	width: 280px;
	margin: 0 auto;

	@include media(tablet) {
		width: 705px;
	}

	@include media(desktop) {
		width: 1248px;
	}
}

.galery {
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	gap: 32px;

	&__item {
		display: flex;
	}
}