@import 'src/shared/styles/mixins.scss';

.wrapper {
	@include flex(center, center);
	flex-direction: column;
	gap: 32px;

	@include media(tablet) {
		flex-direction: row;
	}

	@include media(desktop) {
		flex-direction: row;
		gap: 16px;
	}
}
