@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap');
$mobile: 320px;
$tablet: 768px;
$desktop: 1280px;

$fontFamily: 'Manrope', sans-serif;

$transition: 0.3s all ease-in-out;

$accent-color: #f59256;
$primary-text-color: #111111;
$secondary-text-color: #ffffff;
$third-text-color: #181c27;
$fourth-text-color: #111321;
$fifth-text-color: #000000;

$hover-color: #ff6101;

$primary-bg-color: #fdf7f2;
$secondary-bg-color: #ffffff;
$third-bg-color: rgba(17, 17, 17, 0.6);
$fourth-bg-color: rgba(255, 255, 255, 0.6);
$fifth-bg-color: #FDF7F2;
$sixth-bg-color:  rgba(245, 146, 86, 0.5);
