@import 'mixins';
@import './variables';

/* Указываем box sizing */
*,
*::before,
*::after {
	box-sizing: border-box;
}

textarea {
	resize: none;
}

/* Убираем внутренние отступы */
ul,
ol {
	padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul,
ol {
	list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
	max-width: 100%;
	display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article>*+* {
	margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
	font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитают их не использовать */
@media (prefers-reduced-motion: reduce) {
	* {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

button {
	margin: 0;
}

body {
	font-family: $fontFamily;
	background-color: $primary-bg-color;
	color: $primary-text-color;

	/* Выставляем основные настройки по-умолчанию для body */
	min-height: 100vh;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

.container {
	margin: 0 auto;
	padding: 0 16px;
}

h1 {
	padding: 60px auto 40px;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}