@import 'shared/styles/mixins.scss';

.section {
	position: relative;
	min-height: calc(100vh - 58px);
	padding: 40px 0 140px;

	@include media(tablet) {
		min-height: calc(100vh - 64px);
		padding: 90px 0 150px;
	}
	@include media(desktop) {
		min-height: calc(100vh - 68px);
		padding: 60px 0 150px;
	}
}
