@import 'shared/styles/mixins.scss';

.list {
	@include flex(center);
	gap: 12px;
	max-width: 500px;
	margin: 0 auto;
	margin-top: 28px;
	@include media(tablet) {
		margin-top: 40px;
		justify-content: space-around;
		gap: 32px;
		max-width: 100%;
	}

	@include media(desktop) {
		margin-top: 60px;
		// justify-content: flex-start;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		// margin-left: 32px;
	}
}
