@import 'shared/styles/mixins.scss';

.list {
	@include flex();
	gap: 12px;
	max-width: 500px;
	margin: 0 auto;
	margin-top: 28px;
	@include media(tablet) {
		margin-top: 40px;
		justify-content: space-around;
		gap: 32px;
		max-width: 100%;
	}

	@include media(desktop) {
		margin-top: 60px;
		justify-content: flex-start;
		margin-left: 32px;
	}
}
