@import 'shared/styles/variables';
@import 'shared/styles/mixins';

.wrapper {
	width: 100%;
	@include flex(space-between, center);
	position: relative;
	margin: 0px auto;
	padding: 16px 0px 20px;

	@include media(tablet) {
		padding: 20px 0px 46px;
	}

	@include media(desktop) {
		padding: 20px 0px 30px;
	}
}

.mainNav {
	gap: 80px;
	@include flex(space-between, center);
}

.btnBurger {
	display: inline-flex;
	margin: 0;
	padding: 0;
	border: none;
	background-color: transparent;
}

// !Может быть лишний*****

.btns {
	display: contents;

	@include media(tablet) {
	}
}

.open {
	@include flex(flex-end, center);

	flex-direction: column-reverse;
	position: fixed;
	top: 64px;
	right: 0;
	left: 0;
	bottom: 0;
	text-align: center;
	background-color: #fdf7f2;
	z-index: 99;
	transform: translateX(0%);
	transition: $transition;
	@include media(tablet) {
		margin-top: 40px;
	}
}

.closed {
	@extend .open;
	transform: translateX(100%);
}

.logoLink {
	@include media(tablet) {
		@include flex(space-between, center);
	}
}

.logoBtn {
	@include flex(space-between, center);
	gap: 20px;
}
