@import 'src/shared/styles/mixins.scss';


.wrapper {
    width: 100%;
    @include flex(space-between, center);
    position: relative;
    margin: 0px auto;
    padding-top: 16px;
    
@include media(tablet) {
    // width: 756px;
}

        @include media(desktop) {
    // width: 1280px;
        }
}


.mainNav {
    gap: 80px;
    @include flex(space-between, center);
}
.btnBurger{
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
}

.btns{
    display: contents;
    // @include flex(center, center);
    @include media(tablet) {
        // width: 100%
    }
}

.open{
    @include flex(center, center);
    flex-wrap: wrap-reverse;
    position: absolute;
top: 100%;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #FDF7F2;;
}

.logoLink {
@include media(tablet) {
    @include flex(space-between, center);
}
}
.logoBtn {
    @include flex(space-between, center);
    gap: 20px;
}