@import 'src/shared/styles/variables.scss';
@import 'src/shared/styles/mixins.scss';

@include media(mobile) {
}
@include media(tablet) {
}
@include media(desktop) {
}

.menu {
	@include flex();
	gap: 40px;
	margin: 60px;
	flex-direction: column;
	@include media(tablet) {
		margin: 0;
		margin-top: 48px;
	}

	@include media(desktop) {
		@include flex();
		gap: 80px;
		margin: 0;
		flex-direction: inherit;
	}
}

.item {
	font-weight: 700;
}

.link {
	font-weight: 500;
	font-size: 32px;
	line-height: 1.38;
	color: $third-text-color;
	text-decoration: none;
	transition: $transition;

	&:hover {
		color: $accent-color;
	}

	&:focus {
		color: $accent-color;
	}

	@include media(tablet) {
		font-weight: 500;
		font-size: 48px;
		line-height: 1.38;
	}
	@include media(desktop) {
		font-weight: 500;
		font-size: 20px;
		line-height: 1.35;
		color: $third-text-color;
		text-decoration: none;
	}
}
