@import 'src/shared/styles/variables.scss';
.menu{
    display: flex;
    gap: 80px;
    
}

.item {
    :active {
        font-weight: 700;
        color: $accent-color;
        text-decoration: underline;
            }

}

.link {
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    color: $third-text-color;
    text-decoration: none;
}