.popover {
	color: red;
	margin: 10px;
}

// element.style {
// }
// body, h1, h2, h3, h4, p, ul, ol, li, figure, figcaption, blockquote, dl, dd {
//     margin: 0;
// }
// *, *::before, *::after {
//     box-sizing: border-box;
// }
// таблиця стилів агента користувача
// p {
//     display: block;
//     margin-block-start: 1em;
//     margin-block-end: 1em;
//     margin-inline-start: 0px;
//     margin-inline-end: 0px;
// }
// <style>

.css-3bmhjh-MuiPaper-root-MuiPopover-paper {
	color: green;
}
