@import 'shared/styles/mixins.scss';

.content {
	padding: 10px;
	border: 1px solid #f59256;
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
	border-radius: 4px;

	&__item {
		@include flex(space-between);
		font-weight: 500;
		font-size: 12px;
		line-height: 1.3;
	}

	&__day {
		margin-right: 15px;
	}

	&__time {
		text-align: center;
	}
}
