@import 'src/shared/styles/variables.scss';

@import 'src/shared/styles/mixins.scss';

@include media(mobile) {
}
@include media(tablet) {
}
@include media(desktop) {
}

.svg {
	fill: $secondary-text-color;
	width: 20px;
	height: 20px;
	@include media(tablet) {
		width: 28px;
		height: 28px;
	}
}
.link {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.35;
	color: $secondary-text-color;
	text-decoration: none;
	@include media(tablet) {
		font-weight: 500;
		font-size: 16px;
		line-height: 1.38;
		color: $secondary-text-color;
		text-decoration: none;
	}
	@include media(desktop) {
	}
}

.container {
	width: 164px;
	height: 35px;

	background: $accent-color;
	border-radius: 40px;
    @include flex(center, center);
	gap: 14px;
	margin-top: 46px;
	@include media(tablet) {
		width: 164px;
		height: 44px;
		margin-top: 0;
		gap: 14px;
	}
	@include media(desktop) {
		gap: 12px;
	}
}
