@import 'shared/styles/mixins.scss';
@import 'shared/styles/_variables.scss';

.info {
	@include flex();
	flex-direction: column;
	text-align: start;
	margin-left: 10px;
	gap: 5px;
	text-decoration: none;

	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 1.3;
	word-break: break-all;
	width: 55%;

	color: $fifth-text-color;

	& a:visited,
	& a:link {
		color: $fifth-text-color;
	}

	@include media(tablet) {
		font-size: 14px;
		line-height: 1.35;
	}

	@include media(desktop) {
	}
}

.time {
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 1.3;
	display: flex;
	align-items: center;
	background-color: transparent;
	outline: none;
	box-shadow: none;
	margin: 0;
	padding: 0;
	text-transform: capitalize;
	text-align: start;
	min-width: 0;
	color: #000000;
	@include media(tablet) {
		font-size: 14px;
		line-height: 1.35;
	}
}

.links {
	&:link,
	&:visited {
		text-decoration: none;
		transition: $transition;
		&:hover {
			color: #f59256;
		}
	}
}
