@import 'shared/styles/variables';
@import 'shared/styles/mixins';

.user__wrapper {
	margin-bottom: 47px;

	@include media('tablet') {
		margin-bottom: 44px;
	}

	@include media('desktop') {
		margin-bottom: 0px;
	}
}

.section {
	margin: 0px auto;
	padding: 20px 0px;
	@include media('tablet') {
		@include flex(center, center);
		padding: 45px 0px;
	}

	@include media('desktop') {
		align-items: baseline;
		width: 1280px;

		flex-wrap: nowrap;
		padding: 30px 16px;
	}
}

.desktop {
	@include media('tablet') {
	}
	@include media('desktop') {
		margin-bottom: auto;
		justify-content: center;
		align-items: center;
	}
}

.tablet {
	@include flex(space-between, center);
	width: 320px;
	padding: 0px 20px;
	margin: 0px auto 32px;

	@include media('tablet') {
		width: 768px;
		padding: 0px 36px;
		margin: 0px auto 12px;
	}
	@include media('desktop') {
		width: 100%;
		padding: 0px 16px;
		margin: 0px auto 22px;
	}
}

.titleUser {
	width: 320px;
	margin-bottom: 18px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	padding: 0px 20px;
	font-weight: 500;
	font-size: 20px;
	line-height: 1.35;
	letter-spacing: 0.04em;
	color: $fifth-text-color;

	@include media(tablet) {
		margin-left: 0px;
		margin-bottom: 40px;
		padding: 0px 0px;
		font-size: 28px;
		line-height: 1.35;
	}
	@include media('desktop') {
		padding: 0px 16px;
		margin-bottom: 24px;
	}
}

.title {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.35;
	letter-spacing: 0.04em;
	color: $fifth-text-color;

	@include media(tablet) {
		padding: 0px 0px;
		font-size: 28px;
		line-height: 1.35;
	}
}

.titleUpload {
	@extend .titleUser;
	width: fit-content;
	margin: 0px auto;
	@include media(tablet) {
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 40px;
	}
}

.addPetModalCard {
	@include flex(center, baseline);

	margin: 0px auto;
	width: 280px;
	height: 280px;
	padding: 20px;
	border-radius: 20px;
	background: $secondary-bg-color;
	box-shadow: 7px 4px 14px rgba(0, 0, 0, 0.11);

	@include media('tablet') {
		justify-content: flex-start;
		flex-direction: column;
		align-items: center;
		gap: 16px;
		width: 704px;
		height: 400px;
		border-radius: 40px;
	}

	@include media('desktop') {
		margin-top: 63px;
	}
}

.addPetModalWrapper {
	@include flex(center, center);
	gap: 8px;
	width: 160px;

	@include media(tablet) {
		width: 200px;
		height: 200px;
	}
}

.addPetModalSuggestion {
	width: 90%;
	height: 50px;
	text-align: center;
	font-weight: 500;
	font-size: 38px;
}
