@import 'shared/styles/variables';
@import 'shared/styles/mixins';

.thumb {
	width: 233px;
	height: 233px;
	border-radius: 50%;
	overflow: hidden;
	margin-bottom: 12px;
	filter: drop-shadow(0px 4px 14px rgba(0, 0, 0, 0.11));

	@include media('tablet') {
		margin-bottom: 8px;
	}
}

.avatar__thumb {
	@include media('desktop') {
		position: relative;
	}
}

.user {
	position: relative;
	width: 280px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 44px;
	margin: 0px auto;

	padding: 20px 16px 86px 12px;
	background-color: $secondary-bg-color;
	box-shadow: 7px 4px 14px rgba(0, 0, 0, 0.11);
	border-radius: 20px;

	@include media('tablet') {
		width: 704px;

		margin-left: 0px;
		margin-right: 0px;
		margin-bottom: 20px;

		padding: 40px 40px 54px 32px;
		border-radius: 40px;
	}

	@include media('desktop') {
		width: 450px;
		min-height: 500px;
		margin-bottom: 40px;
		padding: 20px 16px 84px 16px;
	}

	&__uploadThumb {
		width: 86px;
		position: relative;
		z-index: 10;
		margin-left: auto;

		@include media('desktop') {
			position: absolute;
			right: 0;
			bottom: 0;
			transform: translate(50%, 50%);
		}
	}

	&__uploadLabel {
		@include flex(center, center);
		gap: 4px;

		&:hover,
		:focus {
			cursor: pointer;
		}
	}

	&__uploadSubmit {
		@include flex(center, center);
		gap: 4px;
		width: 100px;
		background-color: transparent;
		border: none;
		font-weight: 500;
		font-size: 18px;

		&:hover,
		:focus {
			cursor: pointer;
		}
	}

	&__uploadInput {
		width: 0.1px;
		height: 0.1px;
		opacity: 0;
		position: absolute;
		z-index: -10;
	}

	&__data {
		width: 150px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;

		@include media('tablet') {
			width: 200px;
		}
	}

	&__uploadText {
		font-weight: 400;
		font-size: 12px;
		line-height: 1.8;
		text-transform: capitalize;
	}

	&__form {
		@include flex(center, center);
		flex-direction: column;
		gap: 12px;
		// min-height: 470px;

		@include media('tablet') {
			width: 665px;
			// min-height: 264px;
			flex-direction: row-reverse;
			justify-content: flex-end;
			gap: 52px;
			margin-bottom: 0px;
		}

		@include media('desktop') {
			width: 411px;
			// min-height: 497px;
			flex-direction: column;
			gap: 36px;
		}
	}

	&__meta {
		@include flex(center, center);
		flex-direction: column;
		gap: 12px;
		width: 100%;

		@include media('tablet') {
			width: 380px;
			gap: 8px;
		}

		@include media('desktop') {
			gap: 15px;
		}
	}

	&__avatar {
		width: 100%;
		height: 100%;
	}

	&__label {
		@include flex(space-between);
		align-items: baseline;
		width: 252px;

		@include media('tablet') {
			width: 379px;
		}
	}

	&__text {
		@include flex(flex-start, center);
		width: 15%;
		font-weight: 500;
		font-size: 12px;
		letter-spacing: 0.04em;
		font-family: $fontFamily;
		text-transform: capitalize;

		@include media('tablet') {
			font-size: 18px;
			line-height: 1.3;
		}
	}

	&__input {
		width: 60%;
		font-weight: 400;
		font-size: 12px;
		letter-spacing: 0, 04;
		font-family: $fontFamily;
		// text-transform: capitalize;
		padding: 4px 18px;
		border: 1px solid $accent-color;
		color: $primary-text-color;
		background-color: $primary-bg-color;
		border-radius: 40px;
		outline-color: $accent-color;
		height: 24px;

		@include media('tablet') {
			font-size: 18px;
			line-height: 1.3;
			height: 32px;
			padding: 4px 12px;
		}
	}

	&__button {
		@include flex(center, center);
		cursor: pointer;
		width: 20px;
		height: 20px;
		padding: 1px;
		border-radius: 50%;
		border: none;

		padding: 1px;
		background-color: $primary-bg-color;
		color: $accent-color;

		@include media('tablet') {
			width: 32px;
			height: 32px;
			padding: 6px;
		}

		&__disabled {
			cursor: auto;
		}
	}


}