@import 'shared/styles/variables';
@import 'shared/styles/mixins';

.dimentions {
	@media (min-width: 768px) {
		width: 80%;
	}
	@media (min-width: 1280px) {
		width: 600px;
	}
}

.thumb {
	width: 233px;
	height: 233px;
	border-radius: 50%;
	overflow: hidden;
	margin-bottom: 12px;
	filter: drop-shadow(0px 4px 14px rgba(0, 0, 0, 0.11));

	@include media('tablet') {
		margin-bottom: 8px;
	}
}

.avatar__thumb {
	@include media('desktop') {
		position: relative;
	}
}
.user {
	position: relative;
	width: 280px;
	margin: 0px auto;
	margin-top: 20px;
	padding: 0px 20px;

	background-color: $secondary-bg-color;
	box-shadow: 7px 4px 14px rgba(0, 0, 0, 0.11);
	border-radius: 20px;

	@include media('tablet') {
		width: 736px;
		margin: 0px 0px;
		padding: 0px 0px;
		border-bottom-left-radius: 0px;
		border-top-left-radius: 0px;
		border-bottom-right-radius: 40px;
		border-top-right-radius: 40px;
	}

	@include media('desktop') {
		width: 411px;
	}

	&__uploadThumb {
		width: 86px;
		position: relative;
		z-index: 10;
		margin-left: auto;

		@include media('desktop') {
			position: absolute;
			right: 0;
			bottom: 0;
			transform: translate(50%, 50%);
		}
	}

	&__uploadLabel {
		@include flex(center, center);
		gap: 4px;

		&:hover,
		:focus {
			cursor: pointer;
		}
	}

	&__uploadInput {
		width: 0.1px;
		height: 0.1px;
		opacity: 0;
		position: absolute;
		z-index: -10;
	}

	&__uploadText {
		font-weight: 400;
		font-size: 12px;
		line-height: 1.8;
		text-transform: capitalize;
	}
	&__form {
		@include flex(center, center);
		flex-direction: column;
		gap: 12px;
		padding: 20px 16px 86px 12px;
		margin-bottom: 44px;

		@include media('tablet') {
			width: 736px;
			flex-direction: row-reverse;
			justify-content: flex-end;
			gap: 52px;
			margin-left: 32px;
			margin-bottom: 0px;
		}

		@include media('desktop') {
			flex-direction: column;
			gap: 36px;

			width: 411px;
			margin-left: 0px;
			padding: 20px 16px 64px 16px;
		}
	}
	&__meta {
		@include flex(center, center);
		flex-direction: column;
		gap: 12px;
		width: 100%;
		@include media('tablet') {
			width: 380px;
			margin-top: 40px;
			gap: 8px;
		}

		@include media('desktop') {
			gap: 15px;
			margin-top: 0px;
		}
	}
	&__avatar {
		width: 100%;
		height: 100%;
	}

	&__label {
		@include flex(space-between);
		align-items: baseline;
		width: 100%;
	}
	&__text {
		@include flex(flex-start, center);
		width: 25%;
		font-weight: 500;
		font-size: 12px;
		letter-spacing: 0.04em;
		font-family: $fontFamily;
		text-transform: capitalize;
		@include media('tablet') {
			font-size: 18px;
			line-height: 1.3;
		}
	}
	&__input {
		width: 60%;
		font-weight: 400;
		font-size: 12px;
		letter-spacing: 0, 04;
		font-family: $fontFamily;
		text-transform: capitalize;

		outline: none;
		border: none;
		background-color: transparent;
		height: 16px;

		@include media('tablet') {
			font-size: 18px;
			line-height: 1.3;
		}
	}

	&__button {
		@include flex(center, center);
		width: 20px;
		height: 20px;
		padding: 1px;
		border-radius: 50%;
		border: none;

		padding: 1px;
		background-color: $primary-bg-color;
		color: $accent-color;
		@include media('tablet') {
			width: 32px;
			height: 32px;
			padding: 6px;
		}
	}
}
