@import 'shared/styles/mixins.scss';

.wrapper {
	// transform: translateX(-50%);
	// margin: 50px auto 0;
	// width: fit-content;

	// @include media(tablet) {
	// 	margin: 90px auto 0;
	// }
	// @include media(desktop) {
	// 	margin: 70px auto 0;
	// }
	@include flex(center, center);
	padding: 20px;
}
.list {
	display: flex;
	gap: 10px;
}
