@import 'shared/styles/_mixins.scss';

.text {
	display: -webkit-box;

	-webkit-line-clamp: 8;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;

	@include media(tablet) {
		-webkit-line-clamp: 6;
	}

	@include media(desktop) {
		-webkit-line-clamp: 5;
	}
}
