@import 'shared/styles/mixins.scss';
@import 'shared/styles/_variables.scss';

.info {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	text-align: start;
	margin-left: 10px;
	gap: 5px;
	text-decoration: none;

	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 16px;

	width: 55%;

	color: $fifth-text-color;

	& a:visited,
	& a:link {
		color: $fifth-text-color;
	}

	@include media(tablet) {
		font-size: 14px;
		line-height: 19px;
	}

	@include media(desktop) {
	}
}
