@import 'shared/styles/variables';
@import 'shared/styles/mixins';

.LogOut {
	position: absolute;
	@include flex(flex-end, center);
	gap: 8px;
	bottom: 16px;
	right: 16px;
	width: 102px;
	background-color: transparent;
	border: none;

	&__text {
		font-weight: 500;
		font-size: 16px;
		line-height: 1.37;
		letter-spacing: 0.04em;

		color: $third-bg-color;
	}
	@include media('tablet') {
		left: 44px;
		bottom: 44px;
	}

	@include media('desktop') {
		left: 17px;
		bottom: 20px;
	}
}
