@import 'src/shared/styles/variables.scss';

@import 'src/shared/styles/mixins.scss';

@include media(mobile) {
}

@include media(tablet) {
}

@include media(desktop) {
}

.headerSection {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding-top: 60px;
	background: url(../../shared/images/Home/orangeWavesMobile.png);
	background-position: bottom -15px right calc(50vw - 375px);
	background-repeat: no-repeat;

	@include media(tablet) {
		padding-top: 92px;
		background: url(../../shared/images/Home/orangeWavesTablet.png);
		background-position: 20% -75%;
		background-repeat: no-repeat;
	}
	@include media(desktop) {
		padding-top: 60px;
		flex-direction: row;
		background: url(../../shared/images/Home/orangeWavesDesktop.png);
		background-position: 100% 180%;
		background-repeat: no-repeat;
	}
}

.headerControlBox {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	@include media(desktop) {
		flex-direction: row;
		align-items: flex-start;
	}
}

.headerImgBox {
	&Mobile {
		padding-top: 58px;
		width: 100%;
		justify-content: center;
		display: flex;
		@include media(tablet) {
			display: none;
		}
	}

	display: none;
	@include media(tablet) {
		display: flex;
		width: 100%;
		justify-content: center;
		padding-top: 118px;
	}
	@include media(desktop) {
		padding-top: 0;
		background: url(../../shared/images/Home/desktopHeart.png);
		background-position: left 68px top 43px;
		background-repeat: no-repeat;
	}
}

.headerImg {
	display: flex;
	width: 100%;
	@include media(tablet) {
		max-width: 645px;
	}
	@include media(desktop) {
		max-width: 590px;
	}
}

.text {
	display: flex;
	height: 88px;
	font-weight: 700;
	font-size: 32px;
	line-height: 1.38;
	color: #000000;
	text-align: initial;
	@include media(tablet) {
		height: 200px;
		font-size: 68px;
		line-height: 1.47;
	}
	@include media(desktop) {
		padding-top: 32px;
	}
}
