@import 'src/shared/styles/variables.scss';

@import 'src/shared/styles/mixins.scss';

@include media(mobile) {}

@include media(tablet) {}

@include media(desktop) {}

.backImg{
    // position: absolute;
    // background-image: url(../../shared/images/Home/phoneFone.png );
    height: 100vh;
    width: 100vw;
    background: url(../../shared/images/Home/phoneFone.png) center/contain no-repeat;
    background-position: bottom;

@include media(tablet) {background: url(../../shared/images/Home/tabletFone.png) center/contain no-repeat;
    background-position: bottom;
background-size: 140%;}
@media (min-width: 1000px) {
            // height: 100px;
        background-size: 70%
        }

@include media(desktop) {background: url(../../shared/images/Home/desktopFone.png) center/contain no-repeat;
    background-position: bottom;}
}
.img{
    // position: absolute;
    height: 100vh;
    width: 100vw;
    background: url(../../shared/images/Home/phoneImg.png) center/contain no-repeat;
    background-position: bottom;
@include media(tablet) {
    background: url(../../shared/images/Home/tabletImg.png) center/contain no-repeat;
    background-position: bottom center;
    height: 100vh;
    width: 100vw;
        background-size: 80%
    }

        @media (min-width: 1000px) {
            // height: 100px;
            background-size: 50%;
            background-position: bottom right;
        }

@include media(desktop) {
    background: url(../../shared/images/Home/desktopImg.png) center/contain no-repeat;
        background-position: bottom;
}
}
.text{
    font-weight: 700;
        font-size: 32px;
        line-height: 44px;
        color: #000000;

            text-align: justify;
                padding-top: 62px;
@include media(tablet) {
    font-weight: 700;
    font-size: 68px;
    line-height: 100px;
    margin-right: 115px;
    padding-top: 92px;
}
                
}

// .heart{
    
// }