@import 'src/shared/styles/variables.scss';

@import 'src/shared/styles/mixins.scss';

@include media(mobile) {
}

@include media(tablet) {
}

@include media(desktop) {
}

.headerSection {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	padding-top: 60px;
	background: url(../../shared/images/Home/orangeWavesMobile.png);
	background-position: bottom -15px right calc(50vw - 375px);
	background-repeat: no-repeat;
	height: calc(100vh - 58px);

	@include media(tablet) {
		padding-top: 92px;
		background: url(../../shared/images/Home/orangeWavesTablet.png);
		background-position: 22% calc(9vh + 100%);
		background-repeat: no-repeat;
	}
	@include media(desktop) {
		padding-top: 60px;
		flex-direction: column;
		background: url(../../shared/images/Home/orangeWavesDesktop.png);
		background-position: 100% calc(18vh + 100%);
		background-repeat: no-repeat;
	}
}

.headerControlBox {
	display: flex;
	flex-direction: column;
	@include media(desktop) {
		flex-direction: row;
	}
}

.headerImgBox {
	&Mobile {
		padding-top: 58px;
		width: 100%;
		justify-content: center;
		display: flex;
		@include media(tablet) {
			display: none;
		}
	}

	display: none;
	@include media(tablet) {
		display: flex;
		position: relative;
		width: 100%;
		justify-content: center;
		padding-top: 118px;
	}
	@include media(desktop) {
		padding-top: 0;
		// background: url(../../shared/images/Home/desktopHeart.png);
		// background-position: left 68px top 43px;
		// background-repeat: no-repeat;
		// animation-name: HeartShow;
		// animation-duration: 5s;
		// animation-timing-function: linear;
		// animation-iteration-count: infinite;
	}
}

.headerHeart {
	position: absolute;
	left: 68px;
	top: 43px;
	transform-origin: center;
	// transform: rotate(-10deg);
	// animation-name: HeartShow;
	// animation-duration: 5000ms;
	// animation-timing-function: linear;
	// animation-iteration-count: infinite;
	animation: HeartShow 5000ms linear infinite;
}

.headerImg {
	display: flex;
	width: 100%;
	@include media(tablet) {
		max-width: 645px;
	}
	@include media(desktop) {
		max-width: 590px;
	}
}

.text {
	display: flex;
	font-weight: 700;
	font-size: 32px;
	line-height: 1.38;
	color: #000000;
	text-align: initial;
	@include media(tablet) {
		font-size: 68px;
		line-height: 1.47;
	}
	@include media(desktop) {
		padding-top: 32px;
	}
}

@keyframes HeartShow {
	0% {
		opacity: 0;
		transform: translate(20px, 30px) rotate(-10deg);
	}
	50% {
		opacity: 1;
		transform: translate(0, -15px) rotate(20deg);
	}
	100% {
		opacity: 0;
		transform: translate(0, -50px) rotate(40deg);
	}
}

@keyframes HeartShowMirrored {
	0% {
		opacity: 0;
		transform: scaleX(-1);
		transform: translate(10px, 30px) rotate(10deg);
	}
	50% {
		opacity: 1;
		transform: scaleX(-1);
		transform: translate(0, -15px) rotate(-20deg);
	}
	100% {
		opacity: 0;
		transform: scaleX(-1);
		transform: translate(0, -50px) rotate(-40deg);
	}
}
