@import 'src/shared/styles/variables.scss';
@import 'src/shared/styles/mixins.scss';

@include media(mobile) {}
@include media(tablet) {}
@include media(desktop) {}



.span { 
    color: $accent-color;
}
.link {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    
    color: $primary-text-color;
    text-decoration: none;
}