@import 'src/shared/styles/variables.scss';
@import 'src/shared/styles/mixins.scss';

@include media(mobile) {}
@include media(tablet) {}
@include media(desktop) {}



.span { 
    color: $accent-color;
}
.link {
    font-weight: 700;
    font-size: 28px;
    line-height: 171%;
    color: $primary-text-color;
    text-decoration: none;
@include media(tablet) {
    font-size: 32px;
        line-height: 150%;
}
}